$break-large: 1024px

.main-container
  background-color: #f7f7f7
  font-family: 'Montserrat', sans-serif
  padding-top: 90px
  width: 100vw
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center

  .homework
    width: 70vw
    height: 200px
    background-color: white
    display: flex
    border-radius: 15px
    border: 1px solid #f5f5f5
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.31)
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.31)
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.31)
    padding: 20px
    @media screen and (max-width: $break-large)
      width: 99vw
      min-width: 600px

    .subject_picture
      width: 20%
      min-width: 150px
      height: 150px
      background-image: url(../../../assets/biology.png)
      background-position: center
      background-repeat: no-repeat
      background-size: contain
      align-self: center

    .homework_text
      width: 80%
      height: 100%
      border-radius: 5px
      display: flex
      flex-direction: column
      justify-content: flex-start

      .homework_details
        padding-top: 30px

      .stat
        display: flex
        justify-content: space-between
        align-items: center
        padding-right: 15px

        .homework_teacher
          height: 30px
          display: flex
          justify-content: flex-start
          align-items: center

        .solution_counter
          background-color: #fff
          border-radius: 3px
          padding-right: 10px
          color: #777

      .homework_title
        height: 50px
        font-size: 2rem
        margin-left: 50px
        display: flex
        justify-content: flex-start
        align-items: center

      .homework_content
        display: flex
        margin-left: 70px

  .own_solution
    align-items: flex-end
    display: flex
    flex-direction: column
    background-color: white
    border-radius: 5px
    margin: auto
    margin-top: 20px
    padding: 2% 0 0
    width: 70%
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.31)
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.31)
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.31)

    .input-form
      display: flex
      height: 100px
      justify-content: center
      font-size: 1rem
      width: 100%
      mat-form-field
        border: 1px solid #57A1C6
        border-radius: 5px
        background-color: #fff
        padding: 0 2% 0
        width: 90%

        textarea
          resize: none

    button
      background-color: #57A1C6
      border-radius: 5px
      color: #fff
      float: right
      font-size: 1.1rem
      font-weight: 500
      margin: 3%
      width: 200px

  .other_solutions
    margin: auto
    padding: 2% 0 0
    width: 70vw
    @media screen and (max-width: $break-large)
      width: 100%
      min-width: 600px


    .solution
      display: flex
      flex-direction: row
      background-color: #fff
      border-radius: 5px
      height: 100px
      padding: 20px 0
      margin-bottom: 1.5%
      width: 100%
      -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.31)
      -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.31)
      box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.31)


      .userData
        width: 20%
        min-width: 120px
        height: 100%
        padding-left: 10px
        display: flex
        flex-wrap: wrap
        border-right: 1px solid #57A1C6

        .user_avatar
          border-radius: 50%
          background-position: center
          background-size: contain
          height: 30px
          width: 30px

        .username
          width: auto
          height: 30px
          padding-left: 10px
          display: flex
          align-items: center
          justify-content: flex-start

        .submitDate
          width: 100%
          height: 70px
          display: flex
          flex-direction: column
          align-items: center
          justify-content: flex-end

          .submitted
            margin: 0
            font-size: 14px
            font-weight: 600

      .sol_body
        width: 80%
        height: 100%

        p
          margin: 0
          padding: 10px

      .grade
        display: flex
        flex-direction: row-reverse
        align-items: flex-end

        .approve:hover, .reject:hover
          cursor: pointer

        .reject
          background-color: #E24616
          border-radius: 10px 0 0 10px
          color: #fff
          width: 70px
          height: 35px
          display: flex
          justify-content: center
          align-items: center
          margin-bottom: 7px

          mat-icon
            font-weight: 800

        .approve
          background-color: #4EE000
          border-radius: 0 10px 10px 0
          color: #fff
          height: 35px
          width: 70px
          display: flex
          justify-content: center
          align-items: center
          margin-right: 20px
          margin-bottom: 7px

          mat-icon
            font-weight: 800

    .approved
      .grade
        .reject
          background-color: #edc4c0

    .declined
      .grade
        .approve
          background-color: #d0e8c9
