<div class="settings">
  <h1>Settings</h1>
  <hr>
  <div class="main-container">
    <mat-accordion class="accordion">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>account_circle</mat-icon>
            Profile picture
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-profile-picture></app-profile-picture>
      </mat-expansion-panel>
      <!-- <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>settings</mat-icon>
            Username change
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-reset></app-reset>
      </mat-expansion-panel> -->
    </mat-accordion>
  </div>
</div>
