form
  padding: 5vh
  margin: auto
  width: 80vh
  display: flex
  flex-direction: column
  border: 1px solid #F0F0F0
  box-shadow: 5px 2px 10px #E0E0E0

  .datePicker
    width: 30vh

  button
    width: 40vh
