<div class="subjects">
  <div class="createClassButton" *ngIf="getRoleFromLocal()"(click)="openPopUp('createClass')">Create New Class</div>
  <div class="createClassButton" *ngIf="getRoleFromLocal()"(click)="createHomework()">Create New Homework</div>
  <div class="subject-list-container" *ngFor="let subject of subjects">
    <div class="button_container" id="{{subject}}" (click)="filterSubject(subject)">
      <div class="subject {{subject.toLowerCase()}}" ></div>
      <div class="text">{{subject}}</div>
    </div>
  </div>
</div>

<mat-toolbar-row class="hamburger" [matMenuTriggerFor]="menu">
  <button mat-icon-button aria-label="editPost">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button *ngFor="let subject of subjects" mat-button class="channel-options" (click)="receiveSelectedOption(entity.name)">{{subject}}</button>
  </mat-menu>
</mat-toolbar-row>
