.subjects
  align-items: center
  display: flex
  flex-direction: column
  font-family: 'Roboto', sans-serif
  height: 35vh
  justify-content: space-between
  margin: 1vh

  .subject
    border: 1px solid #ccc
    border-radius: 5px
    color: #fff
    height: 40px
    font-size: 20px
    line-height: 40px
    text-align: center
    width: 20vw
    vertical-align: middle

  .subject:hover
    cursor: pointer

  .biology
    background-color: #FFD275

  .history
    background-color: #F99AD0

  .literature
    background-color: #0094C6

  .it
    background-color: #9A98D3

  .math
    background-color: #DB6B57

  .physics
    background-color: #AA8F66