<div class="subjects">
  <div class="button_container">
    <div class="subject biology"></div>
    <div class="text">Biology</div>
  </div>
  <div class="button_container">
    <div class="subject history"></div>
    <div class="text">History</div>
  </div>
  <div class="button_container">
    <div class="subject it"></div>
    <div class="text">IT</div>
  </div>
  <div class="button_container">
    <div class="subject literature"></div>
    <div class="text">Literature</div>
  </div>
  <div class="button_container">
    <div class="subject math"></div>
    <div class="text">Math</div>
  </div>
  <div class="button_container">
    <div class="subject physics"></div>
    <div class="text">Physics</div>
  </div>
</div>
