.subjects
  display: flex
  flex-direction: column
  align-items: center
  margin: 1vh
  height: 35vh
  justify-content: space-between

  .subject
    border: 1px solid #ccc
    border-radius: 5px
    color: #fff
    height: 40px
    font-size: 20px
    vertical-align: middle
    width: 20vw
    text-align: center
    line-height: 40px

  .subject:hover
    cursor: pointer

  .biology
    background-color: #FFD275

  .history
    background-color: #F99AD0

  .literature
    background-color: #C0E5D8

  .it
    background-color: #9A98D3

  .math
    background-color: #DB6B57

  .physics
    background-color: #AA8F66