@mixin standard_subject_features()
  width: 50px
  height: 50px
  background-size: contain
  
.Math
  background-color: #F1FFED

.Literature
  background-color: #FFFAED

.Physics
  background-color: #E2F2FF

.Biology
  background-color: #FFE1DB


.hw_container:hover
  cursor: pointer

.hw_container
  border: 1px solid #ccc
  border-radius: 5px
  font-family: 'Montserrat', sans-serif
  margin: 1vh 0 1vh 3vw
  width: 70vw
  padding: 15px

  .header
    align-items: center
    display: flex
    justify-content: space-between
    width: 100%

    .teacher
      display: flex
      align-items: center

      .avatar
        width: 50px
        height: 50px
        background-size: contain
        background-image: url("https://fedeximages-51d4a1c.s3.amazonaws.com/avatars/teacher.png")

      .teacher_name
        margin: 0 20px
        font-weight: 600
        font-size: 20px

    .created
      display: flex
      flex-direction: column
      font-size: 12px
      color: #666

      p
        margin: 0

    .subject
      display: flex

      .subject_name
        margin-right: 10px
        font-weight: 600

      .Math
        @include standard_subject_features()
        background-image: url("https://image.flaticon.com/icons/svg/2003/2003346.svg")

      .Literature
        @include standard_subject_features()
        background-image: url("https://image.flaticon.com/icons/svg/1010/1010637.svg")

      .Physics
        @include standard_subject_features()
        background-image: url("https://image.flaticon.com/icons/svg/1010/1010618.svg")

      .Biology
        @include standard_subject_features()
        background-image: url("https://image.flaticon.com/icons/svg/1089/1089087.svg")


  mat-card-content
    display: flex
    justify-content: space-between
    align-items: center

    .homework_details

      .homework_title
        font-weight: 600
        margin: 10px 0 0 0
        padding: 0 30px

      .short_desc
        color: #666
        margin: 0 0 0 10px
        padding: 0 30px

    .deadline
      margin: 30px
      color: #CD533B
      font-size: 20px
      display: flex
      flex-direction: column
      align-items: center

      p
        margin: 0

      .dl
        font-weight: 600

      .date
        font-size: 16px