@mixin standard_subject_features()
  width: 50px
  height: 50px
  background-size: contain
  
.Math
  background-color: #F1FFED

.Literature
  background-color: #F2EEE1


.hw_container:hover
  cursor: pointer
  background

.hw_container
  border: 1px solid #00f
  font-family: 'Montserrat', sans-serif
  margin: 1vh 0 1vh 3vw
  width: 70vw
  padding: 10px

  .header
    align-items: center
    display: flex
    justify-content: space-between
    width: 100%

    .teacher
      display: flex

      .avatar
        width: 50px
        height: 50px
        background-size: contain
        background-image: url("https://fedeximages-51d4a1c.s3.amazonaws.com/avatars/teacher.png")

      .teacher_name
        margin-left: 10px
        font-weight: 600

    .homework_title
      font-size: 20px
      font-weight: 600

    .subject
      display: flex

      .subject_name
        margin-right: 10px
        font-weight: 600

      .Math
        @include standard_subject_features()
        background-color: #F1FFED
        background-image: url("https://image.flaticon.com/icons/svg/2003/2003346.svg")

      .Literature
        @include standard_subject_features()
        background-color: #F2E8BF
        background-image: url("https://image.flaticon.com/icons/svg/1010/1010637.svg")


  mat-card-content

    .short_desc
      padding: 5px 30px
      color: #666