$break-large: 1024px
$break-medium: 700px
$break-small: 500px

.header
  align-items: center
  background-color: #fff
  border-bottom: 1px solid #ddd
  color: #555
  display: flex
  flex-direction: row
  font-size: 16px
  height: 60px
  justify-content: space-between
  margin: 0
  padding: 0
  position: fixed
  top: 0
  width: 100vw
  z-index: 1
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.1)
  -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.1)
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.1)

  .logoDiv:hover
    cursor: pointer

  .logoDiv
    display: flex
    width: auto
    max-width: 100px

    .logoPic
      background: url('../../../assets/logo_original.png')
      background-size: contain
      background-repeat: no-repeat
      margin-left: 15px
      margin-right: 15px
      height: 80%
      min-width: 60px

    .brand
      color: #69bace
      font-family: 'Montserrat', sans-serif
      font-size: 1.5rem
      font-weight: bold
      @media screen and (max-width: $break-large)
        display: none

  .dropDownDiv
    border: 2px solid #57A1C6
    border-radius: 15px
    display: flex
    justify-content: center
    height: 80%
    width: 40%

    .title
      font-size: 1.2rem
      margin-right: 15px
      @media screen and (max-width: $break-large)
        display: none

    .selection
      font-size: 0.9rem
      position: relative
      top: 10%
      @media screen and (max-width: $break-small)
        max-width: 110px

  .userDiv
    display: flex
    justify-content: flex-end
    max-width: 200px

    .userOptions
      cursor: pointer
      display: flex
      flex-direction: row
      justify-content: space-between
      padding: 0
      @media screen and (max-width: $break-large)
        width: auto

      .hello
        @media screen and (max-width: $break-large)
          display: none

      .user_avatar
        background-position: center
        background-repeat: no-repeat
        background-size: cover
        border-radius: 100px
        height: 50px
        margin-top: 5px
        margin-left: 15px
        width: 50px

::ng-deep .user_options
  button
    border-radius: 5px
    font-size: 13px
    letter-spacing: 3px
    width: 100%

  .signOut
    border: 2px solid #eb4757
    color: #eb4757
